.vertical-center {
  display: flex;
  align-items: center;
}

footer {
  font-size: 14px;
}
.footer-row{
  margin-bottom: 10px;
  flex-wrap: nowrap;
}
.footer-text{
  max-width: 630px;
  flex: 0 1 630px;
  text-align: justify;
  margin-right: 20px;
}
.footer-link{
  flex: 1 1 auto;
  display: block;
  text-align: right;
}
.footer-img{
  max-width: 120px;
}

.color-fs-light {
  color: #be9063 !important
}
.color-fs-light:hover {
  color: #9e7043 !important
}

section {
  margin-top: 7rem;
}

.jumbotron {
  background: url(../images/fastscape_header_background_light.jpg) no-repeat center top;
  background-size: cover;
  height: 400px;
}

.li-space > li {
  margin-bottom: 1rem;
}

@media (max-width: 768px){
  .footer-text{
    text-align: left;
    margin-right: 0;
  }
  .footer-row{
    display: block;
    padding: 0 10px;
  }
  .footer-row:first-child{
    margin-bottom: 30px;
  }
  .footer-link{
    text-align: center;
  }
}
